.root {
    -fx-font-family: "Inter";
    -fx-background-color: radial-gradient(center 50% 20%, radius 80%, #FFFFFF, #F2F7FF, #DFE9FF);

}

.header {
    -fx-font-family: "Inter";
    -fx-font-size: 24px;
    -fx-font-weight: 600;
    -fx-text-fill: #1D1D1F;
}

.headerBold {
    -fx-font-family: "Inter";
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: #1D1D1F;
}

.button {
    -fx-background-color: #5F80FF;
    -fx-text-fill: white;
    -fx-font-family: "Inter";
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 1000px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 12, 0.2, 0, 2);
    -fx-cursor: hand;
}
.vbox {
    -fx-background-color: #FFFFFF;            /* pure white card */
    -fx-background-radius: 12;                /* smooth rounded corners */
    -fx-padding: 16;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0, 0, 0, 0.18),   /* soft grey/black shadow */
            16,                   /* radius / blur */
            0.15,                 /* spread */
            0, 4                  /* offset X, offset Y */
    );
}

.pill-textfield {
    -fx-background-color: #e5e5e5;   /* light grey */
    -fx-background-radius: 30;       /* big radius = pill */
    -fx-border-radius: 30;
    -fx-padding: 6 14 6 14;          /* vertical + horizontal padding */
    -fx-text-fill: #333;             /* darker text */
    -fx-font-size: 14px;
}

