.root {
    -fx-font-family: "Inter";
    -fx-background-color: radial-gradient(center 50% 20%, radius 80%, #FFFFFF, #F2F7FF, #DFE9FF);

}

.header {
    -fx-font-family: "Inter";
    -fx-font-size: 24px;
    -fx-font-weight: 600;
    -fx-text-fill: #1D1D1F;
}

.headerBold {
    -fx-font-family: "Inter";
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: #1D1D1F;
}

.button {
    -fx-background-color: #5F80FF;
    -fx-text-fill: white;
    -fx-font-family: "Inter";
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 1000px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 12, 0.2, 0, 2);
    -fx-cursor: hand;
}

.button-small{
    -fx-background-color: #5F80FF;
    -fx-text-fill: white;
    -fx-font-family: "Inter";
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-padding: 4 20 4 20;
    -fx-background-radius: 1000px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 12, 0.2, 0, 2);
    -fx-cursor: hand;
}

.menu-bar .label{
    -fx-text-fill: white;
}
.vbox {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 12;
    -fx-padding: 16;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.18), 16, 0.15, 0, 4);
}

.pill-textfield {
    -fx-background-color: #e5e5e5;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 6 14 6 14;
    -fx-text-fill: rgba(51, 51, 51, 0.95);
    -fx-font-size: 14px;
}

.header-small {
    -fx-font-size: 18px;
}

.button-square-small {
    -fx-background-color: #7389ff;
    -fx-text-fill: white;
    -fx-font-family: "Inter";
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-padding: 4 10;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 8, 0.2, 0, 2);
    -fx-cursor: hand;
}

.gridpane-cards {
    -fx-background-color: #c2d3ff;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-border-color: rgba(0,0,0,0.08);
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

.button-red{
    -fx-background-color: #FF5F56;
}

.button-green{
    -fx-background-color: #2ED573;
}